@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  @apply bg-gray-100 text-gray-100;
  font-family: "Inter", sans-serif;
}

:root {
  --transition-duration: 200ms;
}

input[type="radio"] {
  @apply appearance-none w-4 h-4 bg-white checked:bg-blue-200 rounded-sm shadow-sm checked:shadow-2xl mr-2;
}

/* ============================================================================== */
/* ============================================================================== */
.app {
  /* why h-full didn't make .app take the full height of #root?! */
  @apply grid min-h-screen;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr
}

.header {
  @apply bg-primary px-8 py-3;
  grid-column: 1/2;
  height: max-content;
}

.sidebar {
  grid-row: 1/3;
  grid-column: 2/3;
}

.cards-wrapper {
  @apply p-4 grid justify-items-center content-center gap-4 grid-cols-3 xs:grid-cols-4 sm:grid-cols-5 md:grid-cols-4 lg:grid-cols-5;
  grid-column: 1/2;
}

.card {
  @apply relative w-24 md:w-28 lg:w-32 xl:w-36;
}

.card div {
  @apply rounded-md  border-[3px] border-gray-800  bg-primary;
}

/* ============================================================================== */
/* ============================================================================== */

/* The Image || Front of the card */
.card .front {
  transform: rotateY(90deg);
  transition-duration: var(--transition-duration);
  transition-delay: 0;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: var(--transition-duration);
}

/* The Cover || back of the card */
.card .back {
  position: absolute;
  transition-duration: var(--transition-duration);
  transition-delay: var(--transition-duration);
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0ms;
}
